<% layout('layout') -%>
<section class="section_brand_dlt">
  <p class="p_brand_dlt">Are you sure want to delete this brand?</p>
  <div class="div_brand_dlt">
    <p><%= brand.name %></p>
  </div>
  <p>
    Enter the name of the brand in the input field to confirm this action.
    <b><%= brand.name %></b>
  </p>
  <form method="POST">
    <input
      type="text"
      name="name"
      required
      class="form_brand_dlt"
    />

    <% if (typeof error !== 'undefined') { %>
    <small class="small_brnd_dlt"><%= error %></small>
    <% } %>

    <div class="div2_brnd_dlt">
      <a
        href="/brands"
        class="a_brand_dlt"
        >Cancel</a
      >
      <button
        type="submit"
        class="btn_brnd_dlt"
      >
        Done
      </button>
    </div>
  </form>
</section>
